# Dependencies
node_modules/

# Build output
dist/

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Excel data files
*.xlsx
*.xls

# Temp files
*.tmp
*.bak
